.comment {
  margin: 10px 0;
}

.comment p {
  margin: 0;
  font-size: 14px;
}

.comment span {
  font-size: 16px;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: rgb(233, 235, 238);
}
