.comment {
  margin: 10px 0;
}

.comment p {
  margin: 0px 0px 0px 5px;
  margin-left: 5px;
  font-size: 14px;
}

#commentAuthorAndContent {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(233, 235, 238);
}

#commentAuthorAndContent p:first-child {
  font-weight: bold;
}

#commentAuthorAndContent p:first-child:hover {
  text-decoration: underline;
}

span.looksLikeLink:hover {
  text-decoration: underline;
}

span#deleteComment {
  text-decoration: none;
  color: inherit;
  position: absolute;
  margin-left: 2px;
  border-radius: 50%;
  background-color: white;
  height: 20px;
  width: 20px;
  box-shadow: 0px 5px 7px -7px rgba(0.75, 0.75, 0.75, 0.75);
  text-align: center;
}

p#likeIconAndCount {
  position: relative;
  margin-left: -37px;
  top: 20px;
  padding: 2px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

/* small screens */
@media only screen and (max-width: 575px) {
}
