.createPost {
  margin-bottom: 25px;
}

#inputPostText,
#inputPostImage {
  background-color: #e9ebee;
  border-radius: 10px;
  border-color: white;
}

.hideImageField {
  overflow: hidden;
  height: 0px;
  transition: height 0.2s ease-in-out;
}

.showImageField {
  height: 46px;
  transition: height 0.2s ease-in-out;
}

/* small screens */
@media only screen and (max-width: 575px) {
  .createPost {
    margin-bottom: 8px;
  }
}
