.post {
  margin-bottom: 25px;
}

.postInfo {
  margin-bottom: 20px;
}

.post img {
  max-width: 100%;
}

.post .postLikeComment {
  text-align: center;
}

.postInfo p,
.postLikeComment p {
  margin: 0;
  padding: 0;
}

.noOfLikesAndComments {
  margin-top: 25px;
}

.postContent {
  border-bottom: 1px solid lightgray;
}

.postLikeComment {
  margin-top: 5px;
  margin-bottom: 5px;
}

.postLikeComment .col {
  padding: 10px;
}

.postLikeComment .col:hover {
  background-color: #e9ebee;
}

/* small screens */
@media only screen and (max-width: 575px) {
  .post {
    margin-bottom: 8px;
  }
}
