.header {
  background-color: #4267b2;
  padding: 10px 0px 6px 0px;
  text-align: center;
}

.header h1 {
  font-size: 30px;
  font-style: italic;
  color: white;
  border-color: white;
  border-radius: 15px;
}
