.chatList {
  overflow: auto;
  height: calc(100vh - 100px); /* padding-top: 80px and padding-bottom: 20px */
  margin: 0;
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
}

/* medium screens */
@media only screen and (max-width: 576px) {
  .chatList {
    overflow: auto;
    height: calc(100vh - 71px);
    margin: 0;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
}
