.newMessage {
  margin-top: 30px;
  margin: 25px 0px;
  padding: 25px 25px 15px 25px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.chatWindow {
  margin-top: 20px;
  height: 50vh;
  overflow: auto;
}

.chatWindow p {
  margin-bottom: 8px;
}

.chatWindow span {
  border-radius: 20px;
  padding: 5px 10px;
}

.messageSent {
  background-color: rgb(0, 123, 255);
  color: white;
}

.messageReceived {
  background-color: lightgray;
}
