#chatWindow {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 180px);
  overflow: auto;
  background-color: rgb(248, 250, 252);
  padding: 5px;
  z-index: -1;
}

#messageToSend {
  z-index: 1;
}

#chatWindow p {
  margin-bottom: 5px;
}

#chatWindow span {
  border-radius: 20px;
  padding: 5px 10px;
}

#messageSent {
  background-color: rgb(0, 123, 255);
  color: white;
}

#messageReceived {
  background-color: rgb(233, 235, 237);
}

.commentAuthorAndContent {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 20px;
  max-width: 60%;
}

/* medium screens */
@media only screen and (max-width: 576px) {
  #chatWindow {
    height: calc(100vh - 146px);
  }
}
